{% extends "base.html" %}

{% load bootstrap5 %}

{% load static %}

{% block 'head' %}
<link href="{% static 'supermercado/supermercado.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}

                  

  <div class="container geral">
    <h3 class="text-primary mb-5 mt-5">Adicionar supermercado</h3>
    <div class="form-style">
    <form method="post" enctype="multipart/form-data">
      {%csrf_token%}
      <!-- <form method="POST"> -->
        {%csrf_token%}
        <div class="">
          {{ form.non_field_errors }}
         
       
      
       </form> 
       {{ form.non_field_errors }}
      {% bootstrap_field form.nome %}
      {% bootstrap_field form.imagem %}
      {% bootstrap_field form.cpf %}
      {% bootstrap_field form.cnpj %}
      {% bootstrap_field form.cep %}
      {% bootstrap_field form.cidade %}
      {% bootstrap_field form.bairro %}
      {% bootstrap_field form.rua %}
      {% bootstrap_field form.numero %}
      <div style="pointer-events: none;">
        {% bootstrap_field form.usuario %}
      </div>
      {% buttons submit='Salvar' %} {% endbuttons %}
    </form> 
  </div>
  </div>            
</div>


{% endblock%}