.geral a {
    text-decoration: none;
}

.geral h3 {
    /* text-transform: uppercase; */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* style supermercado_form */
.form-style {
    width: 100%;
    max-width: 100%;
}

.form-style form{
    width:  400px;
    margin: auto;
}

/* card */
.gallery{
   display: flex;
   justify-content: center;
   align-items: center;
}
.card-header{
    width: 500px;
    height: 300px;
    overflow: hidden;
    text-align: center;
}
.card-header:hover{
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}
.card-header img{
    /* border: 1px solid red; */
    width: 220px;
    height: 150px;
    margin: auto;
}
.card-title{
    font-size: 18px;
}