.hero {
    /* Sizing */
  width: 100vw;
  max-width: 100%;
  height: 50vh;
  margin: 0 auto;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  text-align: center;

  /* Background styles */
  background-image: url(./img/hero-homepage.jpg);
  background-size: cover;
  background-position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  }
  
  .site-description h2{
    color: #2A7FFD;
    font-family: arial;
    font-size: 3em;
    text-shadow: 2px 2px black;
    margin-top: 0px;
  }
  
  .site-description p{
    color: black;
    font-family: arial;
    font-size: 1.5em;
  }
  
  .site-description{
    background: rgba(120, 122, 124, 0.7);
    opacity: 1;
    padding: 15px;
    transition-duration: 1s;
    border-radius: 3px;
  }

  /* CARD */


  