{% extends "base.html" %}
{%load socialaccount%}
{% load bootstrap5 %}



{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}

<div class="container-fluid vh-100">
  <div class="" style="margin-top:60px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            {% bootstrap_alert "Cadastre-se ou acesse o sistema para visualizar as melhores ofertas ou divulgar seu supermercado conosco." alert_type='danger' %}
              <div class="text-center">
                  <h3 class="text-primary mb-5 mt-3">Entrar na Plataforma</h3>
              </div>
              <form method="POST">
                {%csrf_token%}
                <div class="">
                  {{ form.non_field_errors }}
                  {% bootstrap_form form %}
                </div>
                {% buttons submit='Logar' %} {% endbuttons %}
              </form>
              
              <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button class="btn google-login" type="submit">
                  <img src="../../media/icon.png" alt="Google icon" style="width: 30px; height: 30px; ">
                  Logar com Google
              </button>
              </form>


              <!-- <form method="POST" class="form-log">
                {%csrf_token%}
                  <div class="p-4">
                      <div class="input-group mb-3">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-person-plus-fill text-white"></i></span>
                          {{ form.username }}
                          
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-key-fill text-white"></i></span>
                          {{form.password}}
                      </div>
                      <button class="btn btn-primary text-center mt-2" type="submit">
                          Login
                      </button>
                      <p class="text-center mt-5">Não tem uma conta? 
                          <span class="text-primary"><a href="{% url 'usuario:register' %}">Cadastre-se</a></span></span>
                      </p>
                  </div>
              </form> -->
          </div>
      </div>
  </div>
</div>



{% endblock%}