{% extends "base.html" %}
{%load socialaccount%}
{% load bootstrap5 %}



{% load static %}

{% block 'head' %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}

<div class="container-fluid vh-100">
  <div class="" style="margin-top:60px">
      <div class="rounded d-flex justify-content-center">
          <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
            {% bootstrap_alert "Cadastre-se ou acesse o sistema para visualizar as melhores ofertas ou divulgar seu supermercado conosco." alert_type='danger' %}
              <div class="text-center">
                  <h3 class="text-primary mb-5 mt-3">Entrar na Plataforma</h3>
              </div>
              <form method="POST">
                {%csrf_token%}
                <div class="">
                  {{ form.non_field_errors }}
                  {% bootstrap_form form %}
                </div>
                {% buttons submit='Login' %} {% endbuttons %}
              </form>
              <form class="padding_formm" action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Entrar com  
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                  </svg>
                  <i class="fa-brands fa-google"></i>
                </button>
              </form>
              

              <!-- <form method="POST" class="form-log">
                {%csrf_token%}
                  <div class="p-4">
                      <div class="input-group mb-3">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-person-plus-fill text-white"></i></span>
                          {{ form.username }}
                          
                      </div>
                      <div class="input-group mb-3">
                          <span class="input-group-text bg-primary"><i
                                  class="bi bi-key-fill text-white"></i></span>
                          {{form.password}}
                      </div>
                      <button class="btn btn-primary text-center mt-2" type="submit">
                          Login
                      </button>
                      <p class="text-center mt-5">Não tem uma conta? 
                          <span class="text-primary"><a href="{% url 'usuario:register' %}">Cadastre-se</a></span></span>
                      </p>
                  </div>
              </form> -->
          </div>
      </div>
  </div>
</div>



{% endblock%}