{% extends "base.html" %}
{% load bootstrap5 %}

{% load static %}

{% block 'head' %}
<link href="{% static 'core/core.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}

<section class="container details">
    <h3 class="text-primary mb-5 mt-5">Informações do Produto</h3>
    <div class="d-block p-2">
        {%if produto.imagem%}
            <img src="{{produto.imagem.url}}" class="rounded mx-auto d-block" alt="...">
        {%endif%}

            <h5 class="card-title">Produto: {{produto.nome}}</h5>
            <p class="card-text">Valor: {{produto.valor}} R$</p>
            <p class="card-text">Supermercado: {{produto.supermercados}}</p>
            <p class="card-text">Localização: {{produto.supermercados.cidade}},
                {{produto.supermercados.bairro}},
                {{produto.supermercados.rua}}, {{produto.supermercados.numero}}</p>
            <p class="card-text">Descrição: {{produto.descricao}}</p>
            <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
      
    </div>
</section>


{%endblock%}