{% extends "admin_base.html" %}
{% load bootstrap5 %}
{% block title %}
  Confirmação de exclusão
{% endblock %}
{% load static %}

{% block 'head' %}
<link href="{% static 'core/core.css' %}" rel="stylesheet">
<!-- <script src="{% static 'js/admin.js' %}"></script> -->
{% endblock %}


{% block 'body' %}
           

<h1><Excluir</h1>
<form action="" method="post">
  {% csrf_token %}
  

  <p>Você tem certeza que deseja deletar essa promoção?</p>
 
  {% buttons submit='Confirmar' %}
    {% bootstrap_button content='Cancelar' href="javascript:history.go(-1);" button_type='link' button_class='btn btn-default' size='md' %}
  {% endbuttons %}
</form>

{% endblock%}