body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #C6C6C6 !important;
}

/* .bg-nav{
    background-color: #ffffff !important;
} */

.bg-nav li a{
    color: #2A7FFD !important;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.bg-nav li a:hover{
    color: rgb(114, 114, 150) !important;
}

.logo img {
    width: 60px !important;
    height: 50px;

}
