{% extends "base.html" %}
{% load bootstrap5 %}

{% load static %}

{% block 'head' %}
<link href="{% static 'register/register.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}

<section class="container form-mod">
  <div class="site-description-register">
    <h3 class="text-primary mb-3 mt-5">Cadastre-se</h3>
    <br>
    <form method="POST">
      {%csrf_token%}
      <div class="">
        {{ form.non_field_errors }}
        {% bootstrap_form form %}
      </div>
      {% buttons submit='Registrar' %} {% endbuttons %}
    </form>
    <!-- <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
        
        <div class="fieldWrapper-register">
          {{ field.errors }}
          <span class="field-tags">{{ field.label_tag }}</span> {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn-register-auth" type="submit"><span>Register</span></button>
      </form> -->

  </div>
</section>


{% endblock%}