{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <link href="{% static 'css/base.css'%}" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block 'title' %}{% endblock%}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  {% block 'head' %}{% endblock%}
</head>

<body>

  <div class="superNav border-bottom py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          <span
            class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>info@sistemas.com</strong></span>
          <span class="me-3 d-none"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>(084) 9
              0000-0000</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-lg-block d-md-block-d-sm-block d-xs-none text-end">
          {%if user.is_authenticated%}
          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i>
            Bem vindo(a). {{user}}</span>

          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted"
              href="{%url 'logout' %}">Sair</a></span>

          {%else%}
          <span class="me-3"><i class="fa-solid fa-truck text-muted me-1"></i><a class="text-muted"
              href="{% url 'login' %}">Entrar</a></span>

          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted"
              href="{% url 'usuario:register' %}">Cadastre-se</a></span>

        </div>

        {%endif%}
      </div>

    </div>
  </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-primary sticky-top navbar-dark p-3 shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{%url 'home'%}"><i class="fa-solid fa-shop me-2"></i> <strong>MENOR
          PREÇO</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="{%url 'supermercado_list'%}">Supermercados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="{%url 'supermercado_create'%}">Divulgue conosco</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block 'body' %}{% endblock%}

  <footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Google -->
        <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button"><i
            class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button"><i
            class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button"><i
            class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a class="btn text-white btn-floating m-1" style="background-color: #333333;" href="#!" role="button"><i
            class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #2748F6;">
      © 2023 Copyright:
      <a class="text-white" href="#">menorPreço</a>
    </div>
    <!-- Copyright -->
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>