{% extends "base.html" %}
{% load bootstrap5 %}

{% load static %}

{% block 'head' %}
<link href="{% static 'core/core.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner markting">
    <div class="carousel-item active">
      <img src="media/banner5.png" class="d-block w-100" alt="image">
    </div>
    <div class="carousel-item active">
      <img src="media/banner1.png" class="d-block w-100" alt="image">
    </div>
    <div class="carousel-item active">
      <img src="media/banner4.png" class="d-block w-100" alt="image">
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
</div>
<br>
<h3 class="title-main">Os melhores preços você encontra aqui!</h3>
<hr>
<br>

<div class="container">
  <form class="btn-search" action="" method="get">
    {%for obj in form_filter%}
          {{obj}}
        {%endfor%}
          <button class="btn btn-primary" type="submit">Procurar</button>
  </form>
</div>

<div class="container">
  <div class="row">
    {%for produto in object_list %}
    <div class="card-product">
      {%if produto.imagem%}
      <img src="{{produto.imagem.url}}" class="card-img-top" alt="...">
      {%endif%}
      <div class="card-content-product">
        <h5 class="card-title-product">{{produto.nome}}</h5>
        <p class="card-price-product">{{produto.valor}} R$</p>
        <p class="card-description-product"><b>Supermercado:</b> {{produto.supermercados}}</p>
        <p class="card-description-product"><b>Localização:</b> {{produto.supermercados.cidade}}</p>
        
        <a href="{%url 'produto_detail' produto.id%}" class="btn btn-outline-primary btn-sm">Confira!</a>
      </div>
      <br>
    </div>
    {%endfor%}
  </div>
</div>

{% if is_paginated %}
<div class="card-footer text-center">
  <nav class="d-inline-block">
    <ul class="pagination mb-0">
      {% if page_obj.has_previous %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only"></span></a></li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
      </li>
      {% endif %}

    </ul>
  </nav>
</div>
{% endif %}
</div>
<br>



{% endblock%}