{% extends "admin_base.html" %}
{% load bootstrap5 %}

{% load static %}

{% block 'head' %}
<link href="{% static 'produto/produto.css' %}" rel="stylesheet">
{% endblock %}


{% block 'body' %}
<div class="container">
    <br>
    <h3 class="text-primary mb-5">Produtos da categoria {{categoria.nome}}</h3>
    <table>
        <thead>
          <tr>
            <th scope="col">Imagem</th>
            <th scope="col">Produto</th>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        {% for produto in categoria.produto_set.all %}
        <tbody>
          <tr>
            <td class="img-product">
                {%if produto.imagem%}
                    <img src="{{produto.imagem.url}}" class="card-img-top" alt="...">
                {%endif%}
            </td>
            <td data-label="Produto">{{produto.nome}}</td>
            <td data-label="Valor">{{produto.valor}} R$</td>
            <td data-label="Descrição">{{produto.descricao}}</td>
            <!-- <td data-label="Ação">
                <a href="{%url 'produto_update' produto.id%}" class="btn btn-outline-primary btn-sm">Editar</a>
                <a href="{%url 'produto_delete' produto.id%}" class="btn btn-outline-danger btn-sm">Excluír</a>
            </td> -->
          </tr>
        </tbody>
        {%endfor%}
      </table>
    
     </div>

   
  {%endblock%}